  <% if @current_user.is_owner? %>
    <div class="Add-item" id="Add-item-form">
      <p class="Add-heading">Add Items Here!</p>
      <%= form_with(model: @menu, url: menu_items_url, method: "post", local: true) do |form|%>
        <div class="costum-select">
          <select name="id" onchange=show_box(this.value)>
           <option value="" disabled selected style="color:#7e808c">Select a Menu</option>
            <% Menu.order(:name).each do |menu|%>
              <option value=<%= menu.id %>> <%= menu.name %> </option>
            <% end %>
            <option value=0>Add a Menu</option>
          </select>
        </div>
        <p class="Add-element">
          <%= form.text_field :name, placeholder:"Item name" %>
        </p>
        <p class="Add-element">
          <%= form.text_field :description, placeholder:"Description" %>
        </p>
        <p class="Add-element">
          <%= form.number_field :price, placeholder:"Item price"%>
        </p>
        <p class="Add-element1">
          <%= form.text_field :new_menu_name, placeholder:"Menu name", class:"add-menu-input"%>
        </p>
        <p class="Add-element">
          <%= form.submit value="Add"%>
        <p>
      <% end %>
    </div>
  <% end %>
