<div class="Menu-page">
  <p class="Menulist-Heading">Menus-List</p>
  <ul class="Menus-list">
   <% @menus.each do |menu| %>
      <li class="Menu">
        <%= form_with(url: "menus/#{menu.id}", method: "put") do %>
                    <input
                          class="Menu-checkbox"
                          type="checkbox"
                          name="active"
                          <%= menu.active ? "checked" : ""%>
                          onclick="this.form.submit()"
                    />
        <%end%>
        <%=menu.name%>
        <div class="MenuItem-delete">
          <%= link_to menu, method: :delete do %>
            <%= image_tag "delete.png"%>
          <% end %>
        </div>
      </li>
    <%end%>
  </ul>
</div>
