<%= render partial: "search" %>
<% if @current_user.is_clerk? || @current_user.is_owner? %>
  <div class="WalkIn-costumer">
    <h3>
      <%= image_tag "costumer.png" %>
      Order for walk-in customer
      <%= image_tag "costumer.png" %>
    </h3>
  </div>
<% end %>
<div class="Main-menuitems">
  <%= render partial: "menu" %>
  <%= render partial: "menu_items/menulist" %>
</div>
