
<main class="SignUp-page">
  <p class="Get-in">
    Edit Here!!
  </p>
  <%= form_with url: menu_item_path, method: :patch, class: "SignUp-content" do |form| %>
    <%= form.text_field :name,
                        placeholder: "Item Name",
                        value: @menu_item.name,
                        autofocus:"autofocus"
    %>
    <br>
    <%= form.number_field :price,
                          placeholder: "Price",
                          value: @menu_item.price,
                          class: "Item-pricechange",
                          autofocus:"autofocus"
    %>
    <br>
    <%= form.text_field :description,
                         value: @menu_item.description,
                         placeholder: "Description"
    %>
    <br>
    <%= form.submit "Update", class: "SignUp-button"%>
  <%end%>
</main>
