
<h3>
  <th colspan="4" class="Header-table"><%= title %></th>
</h3>
<tr>
  <th>Id</th><th>Name</th><th>Email</th><th>Orders</th>
</tr>
<% if owner %>
  <tr class="User-list" id=<%= owner.id %>>
    <td><%= owner.id %></td><td><%= owner.name %></td><td><%= owner.email %></td>
    <td>
      <% owner.orders.delivered.ids.each do |id| %>
        <%= link_to id, "orders/#{id}" %>,
      <% end %>
    </td>
  </tr>
<% elsif type %>
  <% type.each do |type| %>
    <tr class="User-list" id=<%= type.id %>>
      <td><%= type.id %></td><td><%= type.name %></td><td><%= type.email %></td>
      <td>
        <% type.orders.delivered.ids.each do |id| %>
          <%= link_to id, "orders/#{id}" %>,
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
