<main class="Users">
  <% content_for :search do %>
    <div class="Item-search">
      <%= form_with(url: search_path, method: "get", local: true) do |form|%>
        <%= form.text_field :email, placeholder: "Enter email of user" %>
        <%= form.submit "Search User", placeholder: "Enter email of user" %>
      <% end %>
    </div>
  <% end %>
  <section>
    <table class="Clerks">
      <%= render partial: "users", locals: {roles: nil, owner: @current_user, heading: "Owner"} %>
      <%= render partial: "users", locals: {roles: @clerks, owner: nil, heading: "Clerks"} %>
      <%= render partial: "users", locals: {roles: @customers, owner: nil, heading: "Customers"} %>
    </table>
  </section>
</main>
