<main class="Users">
  <section>
      <%= render partial: "users", locals: {type: @users.owners, title: "Owners"} %>
      <%= render partial: "users", locals: {type: @users.clerks, title: "Clerks"} %>
      <%= render partial: "users", locals: {type: @users.customers, title: "Customers"} %>
  </section>
  <div class="Create-clerk">
    <h2 class="Sign-heading">Appoint a clerk</h2>
    <%= form_with url: clerk_path, class: "SignUp-content" do |form| %>
      <%= form.text_field :name,
                          placeholder: "Name",
                          autofocus:"autofocus"
      %>
      <br>
      <%= form.email_field :email,
                            placeholder: "Email",
                            autofocus:"autofocus"
      %>
      <br>
      <%= form.password_field :password,
                              placeholder: "Password",
                              autofocus:"autofocus"
      %>
      <br>
      <%= form.password_field :password_confirmation,
                              placeholder: "Conifrm Password",
                              autofocus: true
      %>
      <br>
      <%= form.submit "Appoint", class: "SignUp-button"%>
    <%end%>
  </div>
</main>
