<div class="Profile-block">
<div class="Profile-image"><%= image_tag "user.png" %></div>
<div class="Welcome-msg">Welcome  <%=@current_user.name%></div>
<div class="Details-block">
<div class="Details">Full Name : <%=@current_user.name%></div>
<div class="Details">Email id : <%=@current_user.email%></div>
<div class="Details">Your orders : <%=@current_user.orders.count%></div>
<div class="Details">Your Role : <%=@current_user.role%></div>
</div>
<div class="Details-edit">
               <%= image_tag "edit.png" %>
               <%= link_to "Edit Profile",edit_user_path(id: @current_user.id) %>
               </div>
</div>
