<section class="home3">
  <%= image_tag "home3.png" %>
</section>
<div class="home-div">
    <section class="home1">
    <%= image_tag "home1.png" %>
    </section>
    <section class="home-main-gif">
      <%= image_tag "homepage.png" %>
    </section>

    <section class="home2">
      <%= image_tag "home2.png" %>
    </section>
</div>
<section class="home4">
 <%= image_tag "home4.png" %>
</section>
