<h2 class="Report-heading">Total Sales Report</h2>
<div class="Sales-report">
  <h3 class = "report-detail">Total Menus : <%=@menus.count%></h3>
  <h3 class = "report-detail">Total Items : <%=@menu_items.count%></h3>
  <h3 class = "report-detail">Total Orders : <%=@orders.count%></h3>
  <h3 class = "report-detail">Total Clerks : <%=@users.clerks.count%></h3>
  <h3 class = "report-detail">Total Online Customers : <%=@users.customers.count%></h3>

  <%price = 0%>
  <%@orders.each { |order| price = price + order.total_price }%>
  <%price_offline = 0%>
  <%@orders.all.each do |order|%>
      <% if order.walkin_order? %>
        <%price_offline = price_offline + order.total_price %>
      <%end%>
  <%end%>

  <h3 class ="report-detail">Offline sales : Rs.<%=price_offline%></h3>
  <h3 class ="report-detail">Online sales : Rs.<%=(price - price_offline)%></h3>
  <h3 class ="report-detail">Total sales : Rs.<%=price%></h3>
  <div class = "sales_division">
  <div class="sub-head">Get Date Wise Analysis Here</div>
    <%= form_tag("/date_wise_report", method: "get") do %>
      <%=date_field_tag   'start_date', nil, class: 'Date-field', required: true%>
      <%=date_field_tag  'end_date', nil, class: 'Date-field', required: true %>
      <div><%= submit_tag  nil, class: "Submit-button", value: "Get Report"%></div>
    <%end%>
  </div>
</div>
