<div class="Invoice-page">
  <h2 class="Invoice-heading">CAFE</h2>
  <h2 class="Invoice-heading">INVOICE</h2>
  <div class="Invoice-box">
    <div class="Detail-box">
      <span class="Invoice-user">
          <h3 class="Invoice-subheading">Costumer Details</h3>
          <p class="Detail">User id : <%=@user.id%></p>
          <p class="Detail">Name : <%=@user.name%></p>
          <p class="Detail">email : <%=@user.email%></p>
          <%if @user.is_owner? || @user.is_clerk? %>
            <p class="Detail">Walk in customer <%= image_tag "costumer.png" %></p>
          <%end%>
      </span>
      <span class="Invoice-order">
          <h3 class="Invoice-subheading">Orders Details</h3>
          <p class="Detail">Order Id : <%=@order.id%></p>
          <p class="Detail">Address : <%=@order.address%></p>
          <p class="Detail">Ordered time : <%=@order.ordered_at.strftime("%d %B,%Y - %I:%M %p")%></p>
          <p class="Detail">Delivery time : <%=@order.delivered_at.strftime("%d %B,%Y - %I:%M %p")%></p>
      </span>
    </div>
    <table class="Invoice-table">
      <h3><th colspan="4" class="Header-table">Items</th></h3>
      <tr><th>ITEM-NAME</th><th>QUANTITY</th><th>ITEM-COST</th><th>SUBTOTAL</th></tr>
      <%@order.all_menu_item_names.uniq.each do |menu_item| %>
      <tr><th><%=menu_item%></th><th><%=@order.all_menu_item_names.count(menu_item).to_s%></th>
      <th><%=@order.order_items.get_menu_item_price(menu_item)%></th>
      <th><%= @order.order_items.get_menu_item_price(menu_item)*@order.all_menu_item_names.count(menu_item) %></th></tr>
      <%end%>
    </table>
  </div>
  <div class="Invoice-bottom">
     <div class="Invoice-message">Thank You</div>
     <div class="Invoice-total">Total : Rs.<%=@order.total_price%></div>
  </div>
</div>
